
@model Matriculas.Web.Models.Course

<div class="form-group"> <label asp-for="CourseCode" class="control-label"></label>
    <input asp-for="CourseCode" class="form-control" /> 
    <span asp-validation-for="CourseCode" class="text-danger"></span> </div>