
@model Matriculas.Web.Models.Teacher 
<div class="form-group">
<label asp-for="TeacherIdentification" class="control-label"></label>
<input asp-for="TeacherIdentification" class="form-control" /> 
<span asp-validation-for="TeacherIdentification" class="text-danger"></span> </div>