@model Matriculas.Web.Models.Course

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css"> <br />
<partial name="_Course"/>
<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <input asp-for="CourseCode" class="form-control" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InicialDate" class="control-label"></label>
                <input asp-for="InicialDate" class="form-control" />
                <span asp-validation-for="InicialDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalDate" class="control-label"></label>
                <input asp-for="FinalDate" class="form-control" />
                <span asp-validation-for="FinalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCost" class="control-label"></label>
                <input asp-for="CourseCost" class="form-control" />
                <span asp-validation-for="CourseCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateInscripcion" class="control-label"></label>
                <input asp-for="DateInscripcion" class="form-control" />
                <span asp-validation-for="DateInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intensity" class="control-label"></label>
                <input asp-for="Intensity" class="form-control" />
                <span asp-validation-for="Intensity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassSchedule" class="control-label"></label>
                <input asp-for="ClassSchedule" class="form-control" />
                <span asp-validation-for="ClassSchedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                
                <a asp-action="Index"> <i class="fas fa-arrow-left" > </i> </a>  
            </div>
        </form>
    </div>
</div>


